@model xilopro2.Models.ParentViewModel
@{
    var path = "/Content/Parents/";
    var path2 = "/Content/Files/";
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show"></div>
<input type="hidden" asp-for="Countries" />
<input type="hidden" asp-for="States" />
<input type="hidden" asp-for="Cities" />
<input type="hidden" asp-for="PlayerId" />
<input type="hidden" asp-for="PlayerName" />

<div class="col-md-3">
    <div class="form-group mb-2 text-center">
        <label asp-for="FotoFile" class="control-label fw-bold d-block text-start"></label>
        <img src="@(!string.IsNullOrEmpty(Model.Parent_Image) ? Url.Content(path+Model.Parent_Image) : Url.Content("~/images/noimage.png"))" alt="Image" id="inputProfileImg0" class="imgpreviewForm" />
    </div>

    <div class="input-group">
        <input asp-for="FotoFile" class="form-control" type="file" accept=".jpg, .jpeg, .png" id="inputGroupFile03" onchange="showimagepreview(this)" />
        <button class="btn btn-outline-danger" type="button" id="inputGroupFileAddon03" onclick="clearInput()">Limpiar</button>
    </div>
    <span asp-validation-for="FotoFile" class="text-danger"></span>
</div>

<div class="col-md-3">

    <div class="form-group mb-2">
        <label asp-for="Parent_FirstName" class="control-label fw-bold"></label>
        <input asp-for="Parent_FirstName" class="form-control" placeholder="Primer Nombre" />
        <span asp-validation-for="Parent_FirstName" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="Parent_LastName" class="control-label fw-bold"></label>
        <input asp-for="Parent_LastName" class="form-control" placeholder="Segundo Nombre" />
        <span asp-validation-for="Parent_LastName" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="PhoneNumber" class="control-label fw-bold"></label>
        <input asp-for="PhoneNumber" class="form-control" placeholder="0000-0000" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

</div>


<div class="col-md-3">

    <div class="form-group mb-2">
        <label asp-for="Parent_Cedula" class="control-label fw-bold"></label>
        <input asp-for="Parent_Cedula" id="txtcedula" class="form-control " placeholder="XXX-XXXXXX-XXXXXX" />
        <span asp-validation-for="Parent_Cedula" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="CountryID" class="control-label fw-bold"></label>
        <select asp-for="CountryID" asp-items="Model.Countries" class="form-select" id="countrySelect"></select>
        <span asp-validation-for="CountryID" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="StateID" class="control-label fw-bold"></label>
        <select asp-for="StateID" class="form-select" id="stateSelect"></select>
        <span asp-validation-for="StateID" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="CityID" class="control-label fw-bold"></label>
        <select asp-for="CityID" class="form-select" id="citySelect"></select>
        <span asp-validation-for="CityID" class="text-danger"></span>
    </div>

</div>



<div class="col-md-3">
    <div class="form-group mb-2 text-center">
        <label asp-for="FotoFileCedula" class="control-label d-block text-start fw-bold"></label>
        @if (ViewBag.EditFlag != "")
        {
            <img id="viewpreview1" src="@(!string.IsNullOrEmpty(Model.Parent_ImageCedula) ? Url.Content(path2+Model.Parent_ImageCedula) : Url.Content("~/images/noimage.png"))" alt="Image" class="imgpreviewForm2" style="@(Model.Parent_ImageCedula.Contains(".pdf") ? "display:none;" : "")" />
            <embed id="viewpreview3" type="application/pdf" src="@(!string.IsNullOrEmpty(Model.Parent_ImageCedula) ? Url.Content(path2+Model.Parent_ImageCedula) : Url.Content("~/images/noimage.png"))" style="@(Model.Parent_ImageCedula.Contains(".pdf") ? "width: 100%;height: 400px;" : "width: 100%;height: 400px;display:none;")" />
        }
        else
        {
            <img id="viewpreview4" src="@(!string.IsNullOrEmpty(Model.Parent_ImageCedula) ? Url.Content(path2+Model.Parent_ImageCedula) : Url.Content("~/images/noimage.png"))" alt="Image" class="imgpreviewForm2" />
            <embed id="viewpreview2" type="application/pdf" src="@(!string.IsNullOrEmpty(Model.Parent_ImageCedula) ? Url.Content(path2+Model.Parent_ImageCedula) : Url.Content("~/images/noimage.png"))" style="width: 100%;height: 400px;display:none;" />
        }
    </div>

    <div class="input-group">
        <input asp-for="FotoFileCedula" class="form-control" type="file" id="pdfInput" accept=".jpg, .jpeg, .png, .pdf" onchange="showimagepreview2(this)" />
        <button class="btn btn-outline-danger" type="button" id="inputGroupFileAddon04" onclick="clearImgPreview()">Limpiar</button>
    </div>
    <span asp-validation-for="FotoFileCedula" class="text-danger"></span>
</div>




<div class="col">
    <div class="form-group mb-2">
        <label asp-for="Parent_Address" class="control-label"></label>
        <textarea class="form-control" asp-for="Parent_Address" cols="20" id="Parent_Address" name="Parent_Address" rows="2" placeholder="Ingrese Dirección..."></textarea>
        <span asp-validation-for="Parent_Address" class="text-danger"></span>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/cascade.js"></script>
<script type="text/javascript">
    function showimagepreview(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var imagePreview0 = document.getElementById("inputProfileImg0");
                imagePreview0.setAttribute("src", e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
            input.files.removeAttribute("required");
        }

    }


    function clearInput() {
        document.getElementById("inputProfileImg0").setAttribute("src", "../../images/noimage.png");
        document.getElementById("inputGroupFile03").value = "";
    }


</script>
<script type="text/javascript">
    var editFlag = '@ViewBag.EditFlag';

    var viewpreview4 = document.querySelector('#viewpreview4');
    var viewpreview3 = document.querySelector("#viewpreview3");
    var viewpreview2 = document.querySelector('#viewpreview2');
    var viewpreview1 = document.querySelector("#viewpreview1");


    function showimagepreview2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var imagePreview = document.getElementById("inputProfileImg");
                imagePreview.setAttribute("src", e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
            input.files.removeAttribute("required");
        }

    }

    document.querySelector('#pdfInput').addEventListener('change', () => {
        let pdffile = document.querySelector('#pdfInput').files[0];
        let URLfile = URL.createObjectURL(pdffile);

        if (editFlag == "flag") {
            if (pdffile.type == "image/jpg" || pdffile.type == "image/jpeg" || pdffile.type == "image/png") {

                viewpreview3.style.display = "none";
                viewpreview1.style.display = "block";
                viewpreview1.setAttribute("src", URLfile);
                console.log("editar / imagen")
            }
            if (pdffile.type == "application/pdf") {
                viewpreview1.style.display = "none";

                viewpreview3.style.display = "block";
                viewpreview3.setAttribute("src", URLfile);
                console.log("editar / pdf")
            }
        } else {

            if (pdffile.type == "image/jpg" || pdffile.type == "image/jpeg" || pdffile.type == "image/png") {

                viewpreview2.style.display = "none";
                viewpreview4.style.display = "block";
                viewpreview4.setAttribute("src", URLfile);
                console.log("nuevo / imagen")
            }
            if (pdffile.type == "application/pdf") {
                viewpreview4.style.display = "none";

                viewpreview2.style.display = "block";
                viewpreview2.setAttribute("src", URLfile);
                console.log("nuevo / pdf")
            }
        }



    });

    function clearImgPreview() {

        var viewPreview1 = document.getElementById("viewpreview1");
        var viewPreview2 = document.getElementById("viewpreview2");
        var viewPreview3 = document.getElementById("viewpreview3");
        var viewPreview4 = document.getElementById("viewpreview4");

        viewPreview1 ? viewPreview1.setAttribute("src", "../../images/noimage.png") : null;
        viewPreview2 ? viewPreview2.setAttribute("src", "../../images/noimage.png") : null;
        viewPreview3 ? viewPreview3.setAttribute("src", "../../images/noimage.png") : null;
        viewPreview4 ? viewPreview4.setAttribute("src", "../../images/noimage.png") : null;

        document.getElementById("inputGroupFile03").value = "";
    }




</script>