@model IEnumerable<xilopro2.Data.Entities.Player>
@using System.Linq

@{
    ViewData["Title"] = "Index";
    var path = "/Content/Players/";
    var path3 = "/Content/Teams/";
   //  bool param1 = (bool)ViewData["param1"];
}

<div class="table-responsive">
  
    <table class="table table-hover table-striped" id="tblPlayersInactivos">
        <thead>
            <tr>
                <td class="fw-bold">
                    @Html.DisplayNameFor(model => model.Player_Image)
                </td>
                <td class="fw-bold">
                    @Html.DisplayNameFor(model => model.Player_Dorsal)
                </td>
                <th class="fw-bold ">
                    @Html.DisplayNameFor(model => model.Player_FullName)
                </th>
                <td class="fw-bold d-none d-md-table-cell">
                    @Html.DisplayNameFor(model => model.Player_FNC)
                </td>
                <td class="fw-bold">
                    @Html.DisplayNameFor(model => model.Position.Position_Name)
                </td>
                <td class="fw-bold">
                    @Html.DisplayName("Categoria")
                </td>
                <td class="fw-bold">
                    @Html.DisplayNameFor(model => model.Player_Status)
                </td>
                <td class="fw-bold">
                    Equipo
                </td>
                <th class="text-end fw-bold">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(item => item.Player_Status == false))
            {
                <tr>
                    <td style="vertical-align: middle;" class="imgZoom">
                        <a asp-action="Details" asp-route-id="@item.Player_ID" class="rowclick">
                            <img src="@(!string.IsNullOrEmpty(item.Player_Image) ? Url.Content(path+item.Player_Image) : Url.Content("~/images/noimage.png"))" alt="Image" class="rounded" />
                        </a>
                    </td>
                    <td style="vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.Player_Dorsal)
                    </td>
                    <td style="vertical-align: middle;text-transform:uppercase;">
                        <a asp-action="Details" asp-route-id="@item.Player_ID" class="rowclick">
                            @Html.DisplayFor(modelItem => item.Player_FullName)
                        </a>
                    </td>
                    <td style="vertical-align: middle;" class="d-none d-md-table-cell">
                        @Html.DisplayFor(modelItem => item.Player_FNC) |
                        (@Html.DisplayFor(modelItem => item.Player_Edad) años)
                    </td>
                    <td style="vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.Position.Position_Name)
                    </td>
                    @{
                        var elemento2 = ViewBag.Cats as IEnumerable<SelectListItem>;
                        var elemento3 = elemento2.ToList().Where(e => Convert.ToInt32(e.Value) == item.SelectedCategoryIds.FirstOrDefault()).FirstOrDefault();
                        <td class="@GetBadgebyClass(elemento3.Text) fs-6" style="vertical-align: middle!important;display: table-cell;text-align: center !important;">
                            @elemento3.Text

                            @functions {
                            private string GetBadgebyClass(string text)
                            {
                                return text switch
                                {
                                    "MAYOR" => "badge text-bg-secondary",
                                    "U13 MASCULINO" => "badge text-bg-green",
                                    "U15 MASCULINO" => "badge text-bg-yellow",
                                    "U15 FEMENINO" => "badge text-bg-pink",
                                    "U17 MASCULINO" => "badge text-bg-blue",
                                    "U17 FEMENINO" => "badge text-bg-purple",
                                    _ => "badge", // Default case
                                };
                            }
                        }
                    </td>
                    }
                    <td style="vertical-align: middle;text-align:center!important;" class="">
                        @if (item.Player_Status)
                        {
                            <i class="fa-solid fa-thumbs-up text-success"></i>
                            @if ((item.PlayerFiles?.Count > 0) || (item.Parents?.Count > 0))
                            {
                                <i class="fa-solid fa-paperclip"></i>

                            }
                        }
                        else
                        {
                            <i class="fa-solid fa-thumbs-down text-danger"></i>
                            @if ((item.PlayerFiles?.Count > 0) || (item.Parents?.Count > 0))
                            {
                                <i class="fa-solid fa-paperclip"></i>

                            }
                        }
                    </td>
                    <td style="vertical-align: middle;" class="">
                        <img src="@(!string.IsNullOrEmpty(item.Team.Team_Image) ? Url.Content(path3+item.Team.Team_Image) : Url.Content("~/images/noimage.png"))" alt="Image" class="rounded" style="width:45px" />
                        @item.Team.Team_Name
                    </td>
                    <td style="vertical-align: middle;" class="text-end">
                        <div class="btn-group">
                            <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Player_ID">
                                <i class="fa-regular fa-pen-to-square"></i> <span class="d-none d-md-inline-block">Editar</span>
                            </a>

                            <a asp-action="@(item.Player_Status ? "DarBaja" : "DarAlta")" class="btn @(item.Player_Status ? "btn-outline-dark" : "btn-outline-primary")" asp-route-id="@item.Player_ID">
                                <i class="fa-regular @(item.Player_Status ? "fa-circle-down" : "fa-circle-up")"></i>
                                <span class="d-none d-md-inline-block">@((item.Player_Status ? "Dar Baja" : "Dar Alta"))</span>
                            </a>

                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Player_ID">
                                    <i class="fa-solid fa-delete-left"></i> <span class="d-none d-md-inline-block">Eliminar</span>
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
 


 @section Scripts {
    
    <script type="text/javascript">
        $(document).ready(function () {

         

        })

    </script>

}