@model IEnumerable<xilopro2.Data.Entities.Player>

@{
    ViewData["Title"] = "Index";
    var path = "/Content/Players/";
}


<div class="container croles pt-3">
    <partial name="_Notifications">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading d-flex justify-content-between align-content-center mb-2">
                    <h3 class="panel-title">Jugadores</h3>
                    <a asp-action="Create" class="btn btn-success"><i class="fa-solid fa-plus"></i> Crear Nuevo Jugador</a>
                </div>
                <hr />
                <div class="panel-body">

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Activos</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Inactivos</button>

                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active p-2" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                            @if (Model.Count(item => item.Player_Status) > 0)
                            {
                                <table class="table table-hover table-responsive table-striped" id="tblPlayersActivos">
                                    <thead>
                                        <tr>
                                            <td>
                                                @Html.DisplayNameFor(model => model.Player_Image)
                                            </td>
                                            <td>
                                                @Html.DisplayNameFor(model => model.Player_Dorsal)
                                            </td>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Player_FullName)
                                            </th>
                                            <td>
                                                @Html.DisplayNameFor(model => model.Player_FNC)
                                            </td>
                                            <td>
                                                @Html.DisplayNameFor(model => model.Position.Position_Name)
                                            </td>
                                            <td>
                                                @Html.DisplayName("Categoria")
                                            </td>
                                            <td>
                                                @Html.DisplayNameFor(model => model.Player_Status)
                                            </td>
                                            <th class="text-end">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Where(item => item.Player_Status))
                                        {
                                            <tr>
                                                <td style="vertical-align: middle;" class="imgZoom">
                                                    <a asp-action="Details" asp-route-id="@item.Player_ID" class="rowclick">
                                                        <img src="@(!string.IsNullOrEmpty(item.Player_Image) ? Url.Content(path+item.Player_Image) : Url.Content("~/images/noimage.png"))" alt="Image" class="rounded" style="width:50px;height:50px;max-width: 100%; height: auto;" />
                                                    </a>
                                                </td>
                                                <td style="vertical-align: middle;">
                                                    @Html.DisplayFor(modelItem => item.Player_Dorsal)
                                                </td>
                                                <td style="vertical-align: middle;">
                                                    <a asp-action="Details" asp-route-id="@item.Player_ID" class="rowclick">
                                                        @Html.DisplayFor(modelItem => item.Player_FullName)
                                                    </a>
                                                </td>
                                                <td style="vertical-align: middle;">
                                                    @Html.DisplayFor(modelItem => item.Player_FNC) |
                                                    (@Html.DisplayFor(modelItem => item.Player_Edad) años)
                                                </td>
                                                <td style="vertical-align: middle;">
                                                    @Html.DisplayFor(modelItem => item.Position.Position_Name)
                                                </td>
                                                <td style="vertical-align: middle;">
                                                    @Html.DisplayFor(modelItem => item.SelectedCategoryIds)
                                                </td>
                                                <td style="vertical-align: middle;">
                                                    @if (item.Player_Status)
                                                    {
                                                        <i class="fa-solid fa-thumbs-up text-success"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa-solid fa-thumbs-down text-danger"></i>
                                                    }
                                                </td>
                                                <td class="text-end">
                                                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Player_ID"><i class="fa-regular fa-pen-to-square"></i> <span class="d-none d-sm-inline-block">Editar</span></a> |
                                                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Player_ID"><i class="fa-solid fa-delete-left"></i> <span class="d-none d-sm-inline-block">Eliminar</span></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                              
                            }
                            else
                            {
                                <div class="card-body">
                                    <div class="alert alert-warning" role="alert">
                                        <i class="fa-solid fa-triangle-exclamation fa-lg me-2"></i> No hay jugadores activos
                                    </div>
                                </div>
                            }
                  
                        </div>

                        <div class="tab-pane fade p-2" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                            @if (Model.Count(item => !item.Player_Status) > 0)
                            {
                                <table class="table table-hover table-responsive table-striped" id="tblPlayersInactivos">
                                    <thead>
                                        <tr>
                                            <td>
                                                @Html.DisplayNameFor(model => model.Player_Image)
                                            </td>
                                            <td>
                                                @Html.DisplayNameFor(model => model.Player_Dorsal)
                                            </td>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Player_FullName)
                                            </th>
                                            <td>
                                                @Html.DisplayNameFor(model => model.Player_FNC)
                                            </td>
                                            <td>
                                                @Html.DisplayNameFor(model => model.Position.Position_Name)
                                            </td>
                                            <td>
                                                @Html.DisplayName("Categoria")
                                            </td>
                                            <td>
                                                @Html.DisplayNameFor(model => model.Player_Status)
                                            </td>
                                            <th class="text-end">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Where(item => !item.Player_Status))
                                        {
                                            <tr>
                                                <td style="vertical-align: middle;" class="imgZoom">
                                                    <a asp-action="Details" asp-route-id="@item.Player_ID" class="rowclick">
                                                        <img src="@(!string.IsNullOrEmpty(item.Player_Image) ? Url.Content(path+item.Player_Image) : Url.Content("~/images/noimage.png"))" alt="Image" class="rounded" style="width:50px;height:50px;max-width: 100%; height: auto;" />
                                                    </a>
                                                </td>
                                                <td style="vertical-align: middle;">
                                                    @Html.DisplayFor(modelItem => item.Player_Dorsal)
                                                </td>
                                                <td style="vertical-align: middle;">
                                                    <a asp-action="Details" asp-route-id="@item.Player_ID" class="rowclick">
                                                        @Html.DisplayFor(modelItem => item.Player_FullName)
                                                    </a>
                                                </td>
                                                <td style="vertical-align: middle;">
                                                    @Html.DisplayFor(modelItem => item.Player_FNC) |
                                                    (@Html.DisplayFor(modelItem => item.Player_Edad) años)
                                                </td>
                                                <td style="vertical-align: middle;">
                                                    @Html.DisplayFor(modelItem => item.Position.Position_Name)
                                                </td>
                                                <td style="vertical-align: middle;">
                                                    @Html.DisplayFor(modelItem => item.SelectedCategoryIds)
                                                </td>
                                                <td style="vertical-align: middle;">
                                                    @if (item.Player_Status)
                                                    {
                                                        <i class="fa-solid fa-thumbs-up text-success"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa-solid fa-thumbs-down text-danger"></i>
                                                    }
                                                </td>
                                                <td class="text-end">
                                                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Player_ID"><i class="fa-regular fa-pen-to-square"></i> <span class="d-none d-sm-inline-block">Editar</span></a> |
                                                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Player_ID"><i class="fa-solid fa-delete-left"></i> <span class="d-none d-sm-inline-block">Eliminar</span></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="card-body">
                                    <div class="alert alert-warning" role="alert">
                                        <i class="fa-solid fa-triangle-exclamation fa-lg me-2"></i>  No hay jugadores inactivos
                                    </div>

                                </div>
                            }

                        </div>

                    </div>

                </div>
            </div>
        </div>
</div>
@section Scripts {
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblPlayersActivos').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json"
                },
                "aLengthMenu": [
                    [5, 25, 50, 100, 200, -1],
                    [5, 25, 50, 100, 200, "Todos"]
                ]
            })


            $(document).ready(function () {
                $('#tblPlayersInactivos').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json"
                    },
                    "aLengthMenu": [
                        [5, 25, 50, 100, 200, -1],
                        [5, 25, 50, 100, 200, "Todos"]
                    ]
                })



        })



    </script>
}