@model xilopro2.Models.GroupDetailViewModel
@{

    var path = "/Content/Teams/";
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show"></div>
<input type="hidden" asp-for="GroupId" />
<input type="hidden" asp-for="GroupName" />
<input type="hidden" asp-for="GroupDetailID" />
<input type="hidden" asp-for="Teams" />
<input type="hidden" asp-for="TeamName" />

<div class="col-md-6">
 
        @if (Model.GroupDetailID != 0)
        {
        <div class="form-group">
            <label class="control-label">Equipo:</label>
            <div class=" mb-2 d-flex align-items-center">
                <select id="team_select" class="form-select" asp-for="TeamId">
                    <option value="0" selected data-img="@(Url.Content("~/images/noimage.png"))">Seleccione un equipo...</option>
                    @foreach (var equipo in Model.Teams)
                    {
                        <option value="@equipo.Team_ID" data-img="@(!string.IsNullOrEmpty(equipo.Team_Image) ? Url.Content(path+equipo.Team_Image) : Url.Content("~/images/noimage.png"))">@equipo.Team_Name</option>
                    }
                </select>
            </div>
            <span asp-validation-for="TeamId" class="text-danger"></span>
        </div>
        }
        else
        {
        <div class="row">
            <div class="col-9">
                <div class="form-group">
                    <label class="control-label">Equipo:</label>
                    <div class=" mb-2 d-flex align-items-center">
                        <select id="team_select" class="form-select" asp-for="TeamId">
                            <option value="0" selected data-img="@(Url.Content("~/images/noimage.png"))">Seleccione un equipo...</option>
                            @foreach (var equipo in Model.Teams)
                            {
                                <option value="@equipo.Team_ID" data-img="@(!string.IsNullOrEmpty(equipo.Team_Image) ? Url.Content(path+equipo.Team_Image) : Url.Content("~/images/noimage.png"))">@equipo.Team_Name</option>
                            }
                        </select>
                    </div>
                    <span asp-validation-for="TeamId" class="text-danger"></span>
                </div>

            </div>
            <div class="col-3">
                <div class="form-group">
                    <label class="control-label"></label>
                    <a asp-action="Create" asp-controller="Teams" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Nuevo Equipo</a>
                </div>
            </div>
        </div>
        }
    @if (User.IsInRole("Admin"))
    {
           <div class="form-group">
            <label asp-for="MatchesPlayed" class="control-label"></label>
            <input asp-for="MatchesPlayed" class="form-control" />
            <span asp-validation-for="MatchesPlayed" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="MatchesWon" class="control-label"></label>
            <input asp-for="MatchesWon" class="form-control" />
            <span asp-validation-for="MatchesWon" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="MatchesTied" class="control-label"></label>
            <input asp-for="MatchesTied" class="form-control" />
            <span asp-validation-for="MatchesTied" class="text-danger"></span>
        </div>
    }
 


</div>
 @if (User.IsInRole("Admin"))
{
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="MatchesLost" class="control-label"></label>
            <input asp-for="MatchesLost" class="form-control" />
            <span asp-validation-for="MatchesLost" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GoalsFor" class="control-label"></label>
            <input asp-for="GoalsFor" class="form-control" />
            <span asp-validation-for="GoalsFor" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GoalsAgainst" class="control-label"></label>
            <input asp-for="GoalsAgainst" class="form-control" />
            <span asp-validation-for="GoalsAgainst" class="text-danger"></span>
        </div>
</div>

}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" defer />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js " defer></script>

<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {
        function formatEquipo1(equipo) {
            if (!equipo.id) { return equipo.text; }
            //  var $equipo = $( '<span><img src="' + $(equipo.element).data('img') + '" class="img-flag" /> ' + equipo.text + '</span>' );
            var $equipo = $(`<span  ><img src="${$(equipo.element).data('img')}" class="img-flag" /> ${equipo.text}</span>`);
            return $equipo;
        };

        $("#team_select").select2({
            templateResult: formatEquipo1,
            templateSelection: formatEquipo1
        });
    
    });

   

</script>
