@model xilopro2.Models.MatchViewModel
@{
  
    var path = "/Content/Teams/";
    var path2 = "/Content/Players/";
}
<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show"></div>

<input type="hidden" asp-for="GroupId" />
<input type="hidden" asp-for="GroupName" />
<input type="hidden" asp-for="Teams" />
<div class="col-md-6">
    <div class="form-group mb-2">
        <label asp-for="Jornada" class="control-label"></label>
        <input asp-for="Jornada" class="form-control" type="number" />
        <span asp-validation-for="Jornada" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

        <div class="form-group"  >
             <label class="control-label">Local:</label>
             <div class=" mb-2 d-flex align-items-center">
            <select id="team_local_select" class="form-select" asp-for="LocalId">
                     <option value="0" selected data-img="@(Url.Content("~/images/noimage.png"))">Seleccione un equipo</option>
                    @foreach (var equipo in Model.Teams)
                    {
                        <option value="@equipo.Team_ID" data-img="@(!string.IsNullOrEmpty(equipo.Team_Image) ? Url.Content(path+equipo.Team_Image) : Url.Content("~/images/noimage.png"))"  >@equipo.Team_Name</option>
                    }
                </select>
            </div>
        <span asp-validation-for="LocalId" class="text-danger"></span>
        </div>

    <div class="form-group">
        <label class="control-label">Visitante:</label>
        <div class=" mb-2 d-flex align-items-center">
            <select id="team_visitor_select" class="form-select" asp-for="VisitorId">
                <option value="0" selected data-img="@(Url.Content("~/images/noimage.png"))">Seleccione un equipo</option>
                @foreach (var equipo in Model.Teams)
                {
                    <option value="@equipo.Team_ID" data-img="@(!string.IsNullOrEmpty(equipo.Team_Image) ? Url.Content(path+equipo.Team_Image) : Url.Content("~/images/noimage.png"))" >@equipo.Team_Name</option>
                }
            </select>
        </div>
        <span asp-validation-for="VisitorId" class="text-danger"></span>
    </div>

 

   
</div>

<div class="col-md-6">
    <div class="form-group mb-2">
        <label asp-for="GoalsLocal" class="control-label"></label>
        <input asp-for="GoalsLocal" class="form-control" />
        <span asp-validation-for="GoalsLocal" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="GoalsVisitor" class="control-label"></label>
        <input asp-for="GoalsVisitor" class="form-control" />
        <span asp-validation-for="GoalsVisitor" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <div class="form-check p-0">
            <label asp-for="IsClosed" class="d-block mb-1">Estado de la Jornada:</label>
            <input asp-for="IsClosed" type="checkbox" id="chckStaus" data-group-cls="btn-group-sm" data-off-active-cls="btn-danger" data-on-active-cls="btn-success" data-off-cls="btn-outline-danger" data-on-cls="btn-outline-success" data-off-title="Inactiva" data-on-title="Activa" />
            <span asp-validation-for="IsClosed" class="text-danger"></span>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap-checkbox@2.0.0/dist/js/bootstrap-checkbox.js"></script>
<!-- Agrega estos enlaces en tu sección de <head> -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" defer />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js " defer></script>
<script type="text/javascript">
    var ruta = '@Url.Content("/Content/Teams/")';
    $('#chckStaus').checkboxpicker({
        html: true,
        offLabel: '<i class="fa-regular fa-thumbs-down"/> Finalizado',
        onLabel: '<i class="fa-regular fa-thumbs-up"/> Proximo'
    });

    document.addEventListener("DOMContentLoaded", function () {

        var ruta = '@Url.Content("/Content/Teams/")';
        var teamLocal = document.getElementById('team_local_select');
        var imgLocal = document.getElementById('imgLocal');
        var teamVisitante = document.getElementById('team_visitor_select');
        var imgVisitante = document.getElementById('imgVisitante');

        var flagshowText = false;

    });

    $(document).ready(function () {
        function formatEquipo1(equipo) {
            if (!equipo.id) { return equipo.text; }
          //  var $equipo = $( '<span><img src="' + $(equipo.element).data('img') + '" class="img-flag" /> ' + equipo.text + '</span>' );
            var $equipo = $(`<span  ><img src="${$(equipo.element).data('img')}" class="img-flag" /> ${equipo.text}</span>`);
            return $equipo;
        };

        $("#team_local_select").select2({
            templateResult: formatEquipo1,
            templateSelection: formatEquipo1
        });

        
        function formatEquipo2(equipo) {
            if (!equipo.id) { return equipo.text; }
            //  var $equipo = $( '<span><img src="' + $(equipo.element).data('img') + '" class="img-flag" /> ' + equipo.text + '</span>' );
            var $equipo = $(`<span  ><img src="${$(equipo.element).data('img')}" class="img-flag" /> ${equipo.text}</span>`);
            return $equipo;
        };

        $("#team_visitor_select").select2({
            templateResult: formatEquipo2,
            templateSelection: formatEquipo2
        });


        function formatEquipo3(equipo) {
            if (!equipo.id) { return equipo.text; }
            //  var $equipo = $( '<span><img src="' + $(equipo.element).data('img') + '" class="img-flag" /> ' + equipo.text + '</span>' );
            var $equipo = $(`<span  ><img src="${$(equipo.element).data('img')}" class="img-flag" /> ${equipo.text}</span>`);
            return $equipo;
        };

        $("#player_list").select2({
            templateResult: formatEquipo3,
            templateSelection: formatEquipo3
        });

    });

  

</script>
