@model IEnumerable<xilopro2.Data.Entities.PlayerStatistics>


@{
    ViewData["Title"] = "Stats";
    var path = "/Content/Players/";
}

<partial name="_Notifications">

    <div class="container-fluid pt-3">
        <div class="d-flex justify-content-between align-items-center gap-2">
            <a asp-action="DetailsGroup" asp-route-id="@ViewData["idgroupdetails"]" asp-controller="Torneos" class="btn btn-outline-dark"><i class="fa-solid fa-arrow-left"></i> Atras</a>
            <h3>Estadisticas de la Jornada @ViewData["jornada"]</h3>
            <a asp-action="AddStats" asp-route-DetailsGroup_ID="@ViewData["idgroupdetails"]" asp-route-Match_ID="@ViewData["idmach"]" asp-route-Torneo_ID="@ViewData["idtorneo"]" class="btn btn-dark">
                    <i class="fa-regular fa-pen-to-square"></i> Agregar Estadistica
                </a>
        </div>

        <hr />

        <div class="card">
            <div class="card-body row">
                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Goles:
                            <span class="badge text-bg-primary rounded-pill">@Model.Sum(x => x.Goals)</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Tiros de Esquina:
                            <span class="badge text-bg-primary rounded-pill">@Model.Sum(x => x.CornerKicks)</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                           Penaltis:
                            <span class="badge text-bg-primary rounded-pill">@Model.Sum(x => x.Penalties)</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Tarjetas Amarillas:
                            <span class="badge text-bg-primary rounded-pill">@Model.Sum(x => x.YellowCards)</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Tarjetas Rojas:
                            <span class="badge text-bg-primary rounded-pill">@Model.Sum(x => x.RedCards)</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Faltas:
                            <span class="badge text-bg-primary rounded-pill">@Model.Sum(x => x.Fouls)</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Goles Concedidos:
                            <span class="badge text-bg-primary rounded-pill">@Model.Sum(x => x.GoalsConceded)</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Goles Atajados:
                            <span class="badge text-bg-primary rounded-pill">@Model.Sum(x => x.GoalkeeperSaves)</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Penaltis:
                            <span class="badge text-bg-primary rounded-pill">@Model.Sum(x => x.Fouls)</span>
                        </li>
                    </ul>
                </div>
            </div>
            <hr style="width: 98%;margin: 0 auto;" />
            <div class="card-body">
                @if (Model.Count() > 0)
                {
                    <div class="table-responsive">
                        <table class="table table-hover table-striped display" id="tblStats">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().Player.Player_FullName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().Goals)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().YellowCards)
                                    </th>
                                    <th class="d-none d-md-table-cell">
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().Fouls)
                                    </th>
                                    <th class="d-none d-md-table-cell">
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().RedCards)
                                    </th>
                                    <th class="d-none d-md-table-cell">
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().GoalkeeperSaves)
                                    </th>
                                    <th class="d-none d-md-table-cell">
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().GoalsConceded)
                                    </th>
                                    <th class="d-none d-md-table-cell">
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().Penalties)
                                    </th>
                                    <th class="d-none d-md-table-cell">
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().CornerKicks)
                                    </th>
                                    <th class="text-end">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="vertical-align: middle;" class="imgZoom">
                                            <img src="@(!string.IsNullOrEmpty(item.Player.Player_Image) ? Url.Content(path+item.Player.Player_Image) : Url.Content("~/images/noimage.png"))" alt="Image" class="rounded" />
                                            @Html.DisplayFor(modelItem => item.Player.Player_FullName)
                                        </td>
                                        <td style="vertical-align: middle;">
                                            @Html.DisplayFor(modelItem => item.Goals)
                                        </td>
                                        <td style="vertical-align: middle;" class="d-none d-md-table-cell">
                                            @Html.DisplayFor(modelItem => item.YellowCards)
                                        </td>
                                        <td style="vertical-align: middle;" class="d-none d-md-table-cell">
                                            @Html.DisplayFor(modelItem => item.Fouls)
                                        </td>
                                        <td style="vertical-align: middle;" class="d-none d-md-table-cell">
                                            @Html.DisplayFor(modelItem => item.RedCards)
                                        </td>
                                        <td style="vertical-align: middle;" class="d-none d-md-table-cell">
                                            @Html.DisplayFor(modelItem => item.GoalkeeperSaves)
                                        </td>
                                        <td style="vertical-align: middle;" class="d-none d-md-table-cell">
                                            @Html.DisplayFor(modelItem => item.GoalsConceded)
                                        </td>
                                        <td style="vertical-align: middle;" class="d-none d-md-table-cell">
                                            @Html.DisplayFor(modelItem => item.Penalties)
                                        </td>
                                        <td style="vertical-align: middle;" class="d-none d-md-table-cell">
                                            @Html.DisplayFor(modelItem => item.CornerKicks)
                                        </td>


                                        <td style="vertical-align: middle;" class="text-end">
                                            <div class="btn-group">
                                                <a asp-action="EditStats" class="btn btn-warning" asp-route-id="@item.PlayerStatistic_ID" asp-route-DetailsGroup_ID="@ViewData["idgroupdetails"]" asp-route-Match_ID="@ViewData["idmach"]" asp-route-Torneo_ID="@ViewData["idtorneo"]"><i class="fa-regular fa-pen-to-square"></i> <span class="d-none d-sm-inline-block">Editar</span></a>
                                                <a asp-action="DeleteStats" class="btn btn-danger" asp-route-id="@item.PlayerStatistic_ID" asp-route-DetailsGroup_ID="@ViewData["idgroupdetails"]" asp-route-Match_ID="@ViewData["idmach"]" asp-route-Torneo_ID="@ViewData["idtorneo"]"><i class="fa-solid fa-delete-left"></i> <span class="d-none d-sm-inline-block">Borrar</span></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="card-body">
                        <div class="alert alert-warning" role="alert">
                            <i class="fa-solid fa-triangle-exclamation fa-lg me-2"></i> No hay estadisticas registradas
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblStats').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json"
                },
                "aLengthMenu": [
                    [10, 25, 50, 100, 200, -1],
                    [10, 25, 50, 100, 200, "Todos"]
                ],
                   
            });

        })
    </script>
}