@model xilopro2.Models.PaymentViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container pt-3">
    <div class="d-flex justify-content-between align-items-center gap-2">
        <a asp-action="Details" asp-route-id="@Model?.ID" asp-controller="Membership" class="btn btn-outline-dark"><i class="fa-solid fa-arrow-left"></i> Atras</a>
        <h3 class="m-0 text-end">Detalles pago de <span class="badge bg-secondary text-white text-uppercase">@Model.MembershipFullName</span></h3>
    </div>
    <hr />
    <div class="card border-dark row" style="width: 100%;margin:0 auto;">

        <div class="card-body row">
            <div class="col membresiastilo">
                <div class="form-group mb-2">
                    <label class="control-label">Fecha:</label>
                    <p class="text-secondary text-uppercase fw-bold mb-0"> @Model.PaymentDate</p>
                </div>
                <div class="form-group mb-2">
                    <label class="control-label">Monto:</label>
                    <p class="text-secondary text-uppercase fw-bold mb-0"> @Model.PaymentAmount</p>
                </div>
                <div class="form-group mb-2">
                    <label class="control-label">Tipo de pago:</label>
                    <p class="text-secondary text-uppercase fw-bold mb-0"> @Model.PaymentMethod</p>
                </div>
                <div class="form-group mb-2">
                    <label class="control-label">Estado del pago:</label>
                    <p class="text-secondary text-uppercase fw-bold mb-0"> @Model.PaymentStatus</p>
                </div>
            </div>
        </div>

        <div class="card-footer card-footer-dark">
            <div class="form-group my-2 d-flex justify-content-between">
                <a asp-action="Details" asp-route-id="@Model?.ID" asp-controller="Membership" class="btn btn-light"><i class="fa-solid fa-ban"></i> <span class="d-none d-sm-inline-block">Cancelar</span></a>
                <div class="btn-group">
                    <a asp-action="EditPayment" asp-route-id="@Model?.ID" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i> <span class="d-none d-sm-inline-block">Editar</span></a>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

