@model IEnumerable<xilopro2.Data.Entities.Groups>

@{
    ViewData["Title"] = "Index";
}

<div class="container pt-2">
    <partial name="_Notifications">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading d-flex justify-content-between align-content-center mb-2">
                    <h3 class="panel-title">Grupos</h3>
                    <a asp-action="Create" class="btn btn-success"><i class="fa-solid fa-plus"></i> Crear Nuevo Grupo</a>
                </div>
                <hr />
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" id="tblGrupo">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.Group_Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Group_Type)
                                </th>
                                <th class="text-end">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="vertical-align: middle;">
                                        @Html.DisplayFor(modelItem => item.Group_Name)
                                    </td>
                                    <td style="vertical-align: middle;">
                                        @Html.DisplayFor(modelItem => item.Group_Type)
                                    </td>
                                    <td class="text-end">
                                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Group_ID"><i class="fa-regular fa-pen-to-square"></i> <span class="d-none d-sm-inline-block">Editar</span></a> |
                                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Group_ID"><i class="fa-solid fa-delete-left"></i> <span class="d-none d-sm-inline-block">Eliminar</span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblGrupo').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json"
                },
                "aLengthMenu": [
                    [5, 25, 50, 100, 200, -1],
                    [5, 25, 50, 100, 200, "Todos"]
                ]
            })
        })
    </script>
}
